{% extends '::base.html.twig' %}

{% block body %}
<div class="post">
<h1>Написать</h1>

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Сохранить</button>
    </p>
</form>

</div>
{% endblock %}
